<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
      <!--<remove fileExtension=".woff" />
      -->
      <!-- In case IIS already has this mime type -->
      <!--
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />-->
      <!--<mimeMap fileExtension=".woff2" mimeType="application/font-woff" />-->
    </staticContent>
  </system.webServer>
</configuration>
<!--ProjectGuid: F54AC3A8-F18F-47FA-B17D-120BE5FF8396-->